:root {
  --primary: #e85494;
  --error: #a00808;
}

* {
  box-sizing: border-box;
}

button, label {
  cursor: pointer;
  transition: all 0.3s;
}
button:hover, label:hover {
  opacity: 0.8;
}

.App {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.04em;
  color: #333;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.main {
  position: relative;
  padding: 1em;
}

.numText {
  margin-bottom: 1.5em;
}

.todoAddBtn {
  display: block;
  width: 80%;
  max-width: 240px;
  margin: 0 auto 2em;
  padding: 0.5em;
  background-color: var(--primary);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  appearance: none;
  color: #fff;
}

.todoClearBtn {
  display: block;
  width: 80%;
  max-width: 200px;
  margin: 1em auto;
  padding: 0.5em;
  background-color: #f3f3f4;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 16px;
  appearance: none;
  color: #333;
}

.todoClearBtn:disabled {
  opacity: 0.6;
}

input[type='checkbox'] {
  opacity: 0;
  appearance: none;
  position: absolute;
}

input[type='checkbox'] + .checkIcon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.25em;
  margin-right: 0.5em;
  transition: all 0.2s ease-out;
}

input[type='checkbox'] + .checkIcon::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 3px solid #ccc;
  background: #fff;
  box-shadow: none;
  transition: all 0.1s ease-out;
}

.todo {
  width: 90%;
  max-width: 300px;
  margin: 0 auto 0.5em;
  text-align: left;
}

.todo label {
  display: block;
  padding: 0.5em;
  border-radius: 6px;
  background-color: #f1f1f2;
  cursor: pointer;
}

.todo label:has(input[type='checkbox']:checked) {
  opacity: 0.6;
}

.todoInput {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 0 auto 0.5em;
  padding: 0.5em;
  border: 2px solid #bbb;
  border-radius: 6px;
  font-size: 18px;
}

input[type='checkbox']:checked + .checkIcon::after {
  position: absolute;
  content: '';
  top: -0.1em;
  left: 0.4em;
  width: 60%;
  height: 90%;
  transform: rotate(45deg);
  border: solid 2px transparent;
  border-bottom: 4px solid var(--primary);
  border-right: 4px solid var(--primary);
  background: transparent;
  box-shadow: none;
}

input[type='checkbox']:focus + .checkIcon {
  border-radius: 4px;
  box-shadow: 0 0 2px 2px #ddd;
}

input[type='checkbox']:focus + .checkIcon::after {
  border-radius: 4px;
  box-shadow: none;
}

input[type='checkbox']:focus:not(:checked) + .checkIcon::after {
  border-color: #ddd;
}

input[type='checkbox']:disabled + .checkIcon::after {
  background: #ccc;
}

label:hover input[type='checkbox']:not(:checked, :disabled) + .checkIcon::after {
  border-color: #ddd;
  border-radius: 4px;
}

.noticeArea {
  position: relative;
  top: -1.5em;
  height: 0;
  text-align: center;
  color: var(--error);
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}